# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [2]:
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# import csv file from weather py to create dataframe 
df_citywth = pd.read_csv('../output_data/cities_geo_final2.csv')
df_citywth

,City,Latitude,Longitude,Humidity,Cloudiness,Windspeed,Temperature_Max
0,castro,-24.7911,-50.0119,40,40,5.88,74.64
1,mulege,26.8833,-111.9833,39,100,0.65,93.63
2,kirksville,40.1948,-92.5833,58,97,4.00,83.57
3,puntarenas,9.9763,-84.8384,94,100,7.85,75.92
4,lebu,-37.6167,-73.6500,97,100,10.71,54.10
...,...,...,...,...,...,...,...
563,cheremukhovo,60.3484,59.9851,60,55,4.38,57.02
564,kaseda,31.4167,130.3167,81,1,9.57,76.33
565,mae sai,20.4335,99.8762,97,100,1.45,74.01
566,mayumba,-3.4320,10.6554,78,88,9.31,72.28
567,tupiza,-21.4500,-65.7167,7,15,14.61,69.64

In [4]:
df_citywth.describe()

,Latitude,Longitude,Humidity,Cloudiness,Windspeed,Temperature_Max
count,568.000000,568.000000,568.000000,568.000000,568.000000,568.000000
mean,19.525798,18.679979,66.926056,59.968310,7.652535,71.990018
std,32.836423,89.537107,23.359505,37.587462,5.196635,15.286003
min,-54.800000,-179.166700,1.000000,0.000000,0.110000,28.870000
25%,-7.610075,-60.912775,53.000000,25.750000,3.932500,61.165000
50%,22.180350,22.820450,73.000000,68.500000,6.520000,74.310000
75%,46.580975,97.712525,85.000000,99.000000,10.265000,82.035000
max,78.218600,179.316700,100.000000,100.000000,34.490000,110.050000

In [5]:
# Convert humidity to list
city_humidity = df_citywth["Humidity"].tolist()
city_humidity

[40,
 39,
 58,
 94,
 97,
 82,
 85,
 82,
 92,
 75,
 47,
 72,
 77,
 100,
 44,
 80,
 40,
 60,
 31,
 82,
 90,
 64,
 99,
 80,
 63,
 45,
 79,
 97,
 66,
 88,
 94,
 45,
 76,
 67,
 59,
 52,
 75,
 90,
 79,
 72,
 62,
 64,
 75,
 69,
 71,
 73,
 75,
 68,
 76,
 41,
 85,
 87,
 62,
 75,
 72,
 83,
 14,
 90,
 94,
 74,
 91,
 85,
 53,
 57,
 76,
 94,
 82,
 93,
 81,
 55,
 80,
 97,
 90,
 77,
 46,
 82,
 74,
 41,
 91,
 70,
 77,
 69,
 44,
 79,
 96,
 71,
 51,
 45,
 22,
 87,
 74,
 76,
 70,
 93,
 98,
 90,
 77,
 98,
 95,
 84,
 66,
 48,
 39,
 28,
 58,
 67,
 75,
 60,
 27,
 26,
 97,
 89,
 95,
 93,
 88,
 87,
 89,
 96,
 64,
 61,
 87,
 87,
 94,
 87,
 64,
 99,
 55,
 78,
 81,
 9,
 72,
 90,
 75,
 82,
 82,
 90,
 66,
 65,
 94,
 60,
 86,
 94,
 92,
 63,
 45,
 70,
 65,
 83,
 74,
 78,
 79,
 63,
 84,
 91,
 73,
 78,
 94,
 78,
 86,
 44,
 91,
 53,
 73,
 93,
 95,
 29,
 81,
 92,
 57,
 94,
 78,
 95,
 47,
 85,
 84,
 89,
 69,
 87,
 59,
 95,
 50,
 77,
 83,
 64,
 79,
 67,
 94,
 58,
 21,
 79,
 80,
 11,
 81,
 69,
 38,
 85,
 29,
 16,
 21,
 85,
 78,
 17,
 64,
 32,
 75,
 76,
 96,
 86,
 39,
 14,
 81,
 1,
 90,
 62,
 74,
 94,
 81,
 85,
 85,
 15,
 85,
 74,
 81,
 60,
 97,
 89,
 86,
 89,
 89,
 57,
 93,
 72,
 53,
 88,
 95,
 67,
 81,
 81,
 68,
 69,
 65,
 48,
 75,
 90,
 73,
 26,
 78,
 61,
 24,
 42,
 80,
 17,
 66,
 28,
 83,
 62,
 67,
 62,
 58,
 28,
 55,
 74,
 23,
 75,
 88,
 66,
 47,
 11,
 52,
 17,
 84,
 65,
 92,
 76,
 72,
 78,
 52,
 36,
 60,
 58,
 84,
 89,
 79,
 83,
 60,
 82,
 65,
 95,
 97,
 84,
 86,
 42,
 86,
 67,
 18,
 74,
 74,
 67,
 83,
 80,
 80,
 42,
 71,
 81,
 85,
 10,
 20,
 91,
 50,
 57,
 94,
 92,
 37,
 28,
 92,
 61,
 79,
 24,
 94,
 78,
 28,
 83,
 77,
 41,
 41,
 91,
 25,
 58,
 9,
 71,
 73,
 84,
 74,
 73,
 86,
 93,
 81,
 55,
 66,
 60,
 40,
 58,
 67,
 49,
 76,
 12,
 86,
 88,
 78,
 97,
 75,
 73,
 98,
 96,
 91,
 71,
 56,
 83,
 66,
 57,
 19,
 42,
 13,
 78,
 80,
 64,
 85,
 67,
 73,
 93,
 61,
 81,
 71,
 96,
 51,
 87,
 69,
 62,
 94,
 56,
 69,
 35,
 91,
 80,
 81,
 94,
 76,
 88,
 85,
 75,
 35,
 21,
 53,
 29,
 47,
 31,
 59,
 94,
 80,
 80,
 22,
 68,
 81,
 86,
 33,
 84,
 96,
 37,
 73,
 64,
 11,
 80,
 72,
 8,
 47,
 79,
 69,
 36,
 74,
 81,
 76,
 99,
 68,
 7,
 38,
 75,
 48,
 96,
 57,
 35,
 39,
 15,
 73,
 36,
 89,
 82,
 90,
 64,
 54,
 84,
 63,
 17,
 46,
 77,
 91,
 84,
 98,
 89,
 100,
 77,
 89,
 49,
 46,
 58,
 80,
 61,
 77,
 35,
 32,
 61,
 82,
 52,
 71,
 52,
 10,
 42,
 33,
 59,
 11,
 86,
 16,
 94,
 34,
 44,
 74,
 86,
 98,
 98,
 84,
 57,
 11,
 36,
 71,
 83,
 50,
 43,
 70,
 92,
 84,
 58,
 73,
 16,
 48,
 50,
 94,
 81,
 66,
 99,
 37,
 76,
 41,
 85,
 14,
 45,
 81,
 69,
 50,
 73,
 39,
 80,
 74,
 80,
 42,
 85,
 88,
 39,
 22,
 81,
 93,
 61,
 76,
 43,
 56,
 71,
 90,
 39,
 60,
 86,
 13,
 85,
 94,
 47,
 64,
 79,
 61,
 81,
 61,
 75,
 66,
 59,
 6,
 23,
 81,
 90,
 11,
 65,
 88,
 28,
 95,
 16,
 69,
 45,
 55,
 67,
 17,
 80,
 72,
 82,
 63,
 88,
 69,
 50,
 80,
 60,
 81,
 97,
 78,
 7]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
import gmaps

# Store latitude and longitude in locations
locations = df_citywth[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
rating = df_citywth["Humidity"]
# rating = df_citywth_test["Humidity"].astype(float)

In [7]:
# Configure gmaps and Customize the size of the figure
figure_layout = {
    'width': '300px',
    'height': '200px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [10]:
# Plot Heatmap
fig = gmaps.figure(map_type='SATELLITE')

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=30,
                                 point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
#A max temperature lower than 80F degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
df_citywth_new = df_citywth.loc[(df_citywth['Temperature_Max'] < 80) & (df_citywth['Temperature_Max'] > 70) 
                                & (df_citywth['Humidity'] < 50) 
                                & (df_citywth['Cloudiness'] < 55) 
                                & (df_citywth['Windspeed'] < 10)]
df_citywth_new

,City,Latitude,Longitude,Humidity,Cloudiness,Windspeed,Temperature_Max
0,castro,-24.7911,-50.0119,40,40,5.88,74.64
74,zonguldak,41.2500,31.8333,46,0,4.43,70.68
159,ukiah,39.1502,-123.2078,44,0,3.22,79.05
248,susanville,40.4163,-120.6530,24,0,3.00,79.12
251,eenhana,-17.4667,16.3333,17,0,4.79,76.98
269,rawlins,41.7911,-107.2387,17,4,2.93,76.35
340,minot,48.2325,-101.2963,40,1,5.55,74.80
360,menongue,-14.6585,17.6910,19,21,5.48,77.70
426,gundorovskiy,46.7805,41.8968,48,49,8.77,75.83
433,baiyin,36.5583,104.2081,36,11,2.68,70.48
442,pryozerne,45.2698,36.3303,46,49,8.90,78.49
491,jiuquan,39.7432,98.5174,16,0,6.15,77.99
516,chissamba,-12.1667,17.3333,22,6,1.52,78.48
531,faya,18.3851,42.4509,47,35,8.55,71.91
549,opuwo,-18.0607,13.8400,16,0,6.69,77.88

### Hotel Map
* Create a dataframe named `hotel_df` that is the df created above only with the pertinent data.  See the prepared code below (`info_box_template`) to determine what data you will need for your final map.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels (aka "lodging") within 5000 meters.
* Utilize the Google Places API to find the first hotel search result.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
# Create dataframe and empty column
hotel_df = df_citywth_new.iloc[:,[0,1,2]]
hotel_df

             City  Latitude  Longitude
0          castro  -24.7911   -50.0119
74      zonguldak   41.2500    31.8333
159         ukiah   39.1502  -123.2078
248    susanville   40.4163  -120.6530
251       eenhana  -17.4667    16.3333
269       rawlins   41.7911  -107.2387
340         minot   48.2325  -101.2963
360      menongue  -14.6585    17.6910
426  gundorovskiy   46.7805    41.8968
433        baiyin   36.5583   104.2081
442     pryozerne   45.2698    36.3303
491       jiuquan   39.7432    98.5174
516     chissamba  -12.1667    17.3333
531          faya   18.3851    42.4509
549         opuwo  -18.0607    13.8400

In [13]:
#set up additional columns to hold information
hotel_df['Hotel Name'] =""
hotel_df['Address'] = ""

hotel_df.head()

C:\Users\yings\AppData\Local\Temp/ipykernel_40572/100725674.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] =""
C:\Users\yings\AppData\Local\Temp/ipykernel_40572/100725674.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Address'] = ""

           City  Latitude  Longitude Hotel Name Address
0        castro  -24.7911   -50.0119
74    zonguldak   41.2500    31.8333
159       ukiah   39.1502  -123.2078
248  susanville   40.4163  -120.6530
251     eenhana  -17.4667    16.3333

In [14]:
# Loop through dataframe and add nearby hotel result
# find the closest restaurant of each type to coordinates


params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
        
    try:
         
        hotel_df.loc[index, 'Hotel Name'] = response["results"][0]["name"]
        hotel_df.loc[index, 'Address'] = response["results"][0]["vicinity"]

        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

C:\Users\yings\anaconda3\envs\PythonData38\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

------------
Missing field/result... skipping.
------------
------------
------------
------------
------------
------------
------------
Missing field/result... skipping.
------------
------------
Missing field/result... skipping.
------------
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
------------

In [15]:
hotel_df

,City,Latitude,Longitude,Hotel Name,Address
0,castro,-24.7911,-50.0119,Hotel Buganville Express,"R. Mariana Marquês, 66 - Centro, Castro"
74,zonguldak,41.2500,31.8333,,
159,ukiah,39.1502,-123.2078,Hampton Inn Ukiah,"1160 Airport Park Blvd, Ukiah"
248,susanville,40.4163,-120.6530,Comfort Inn & Suites,"3015 Riverside Dr, Susanville"
251,eenhana,-17.4667,16.3333,Hotel Litu,"G86M+RQJ, Eenhana"
269,rawlins,41.7911,-107.2387,Hampton Inn Rawlins,"406 Airport Rd, Rawlins"
340,minot,48.2325,-101.2963,Hampton Inn & Suites Minot Airport,"1400 N Broadway, Minot"
360,menongue,-14.6585,17.6910,Hotel Ritz Lauca,"8MRF+56Q, Menonge"
426,gundorovskiy,46.7805,41.8968,,
433,baiyin,36.5583,104.2081,Hampton by Hilton Baiyin,"Baiyin, Baiyin District, 长安路323号"
442,pryozerne,45.2698,36.3303,,
491,jiuquan,39.7432,98.5174,Jiuquan Hotel,"Jiuquan, Suzhou District, 解放路33号"
516,chissamba,-12.1667,17.3333,,
531,faya,18.3851,42.4509,,
549,opuwo,-18.0607,13.8400,Opuwo Country Lodge,Opuwo

In [16]:
# NOTE: Do not change any of the code in this cell
# Analyze the code below for variables but these should be all columns in hotel_df

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Address</dt><dd>{Address}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [17]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=hotel_info)

fig = gmaps.figure()
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))